---
import LanguageSelector from '../components/LanguageSelector.astro';

// Optional props for dynamic title and language
const { title = 'My Event Site', lang = 'en', partnersLabel = 'Partners'} = Astro.props;
const base = import.meta.env.BASE_URL;

---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <div class="global-logo">
      <img src={`${base}images/logo_event.png`} alt="Event Logo" />
    </div>
    <LanguageSelector />

    <main>
      <slot />
    </main>

    <footer>
        <h2>{partnersLabel}</h2>
        <div class="footer-logos">
            <img src={`${base}images/logo_eci.png`} alt="Partner 1" />
            <img src={`${base}images/logo_TLM.png`} alt="Partner 2" />
            <img src={`${base}images/logo_uvalle.png`} alt="Partner 3" />
            <img src={`${base}images/blue_logo.png`} alt="Partner 4" />
        </div>
      <p>&copy; {new Date().getFullYear()} TLM Andina S.A.S</p>
    </footer>
  </body>
</html>